body{
  background-color: rgb(59, 117, 153);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
}
.heading{
    background-color: rgb(23, 93, 164);
    color: white;
    font-family:cursive;
    padding: 10px;
    border-radius: 10px;
}
.main{
  height: 320px;
  width: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
.btn{
  height: 100px;
  width: 100px;
  cursor: pointer;
  background-color: aliceblue;
  color: black;
  border:hidden;
  border-radius: 10px;
  font-size: xx-large;
}
.reset{
  height: 50px;
  width: 120px;
  border: hidden;
  border-radius: 10px;
  background-color: black;
  color: white;
}
.win{
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}
